<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="style">
	  <div class="container">
      <div class="titile right">
        <h1 class="display-4">Steven Paul Jobs</h1>
      </div>
      <div class="contact left">
        <p><b>+105xxxxxxxxx</b>></p>
  	    <p><b>steveej@icloud.com></b></p>
  	  </div>
    </div>
	</div>

  <div class="container">
	  <div class="info">
	  	<h2>Foreword</h2>
	  	  <p>
	  		  My name is Steven Paul (Steve) Jobs; February 24, 1955, San Francisco, California, USA - October 5, 2011, Palo Alto, Santa Clara, California, USA) - I'm American entrepreneur, inventor and industrial designer widely recognized as the pioneer of the information technology era. 
	  		  <p>Co-founder, Chairman of the Board of Directors and CEO of Apple Corporation. One of the founders and CEO of the Pixar film studio.</p>
	  	  </p>
	  	<h2>Skills</h2>
	      <ul>
	      	<li>Bravery</li>
	      	<li>Tenacity</li>
	      	<li>Oratory</li>
	      	<li>Ideological</li>
	      	<li>Ability to lead</li>
        </ul>

      <h2>Interests</h2>
        <ul>
        	<li>Tech or design engineer. digital.</li>
        	<li>- from Bay near Hewitt-Packard</li>
        </ul>

      <h2>Experience</h2>
        <ul>
        	<li>I created a company APPLE</li>
        	<li>And everything connected with her</li>
        </ul>
	  	
	  </div>
	
	</div>
	<div class="image">
		<img src='/image.jpg' width="300px" height="400px">
	</div>
</body>
</html>