/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.style{
  overflow: hidden;
  color: white;
  background: #828181;
  background: linear-gradient(90 deg, #000000 50%, #000000 15%, #000000 0%);
}

.right{
  display: inline;
  float: right;
  width: 40%
}

.left{
  display: inline;
  float: left;
  width: 70%
  text_align: left;
}

.image{
  position: absolute;
  top: 250px;
  right: 600px;
  width: 100px;
  height: 100px;
}
